---
import Icon from "./Icon.astro";
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Tech Stack</h2>
        <!-- Front End -->
        <p class="title-skills">Front End</p>
        <div class="box_sub">
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" />
            </div>
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg" />
            </div>
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />
            </div>
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            </div>
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
            </div>
        </div>
        <!-- Frame work of Front End -->
        <div class="box_sub">
            <div class="one astroicon">
                <i class="devicon-astro-plain colored"></i>

            </div>

            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
            </div>

            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg" />
            </div>
            <div class="one"></div>
            <div class="one"></div>
        </div>
        <p class="title-skills">Back End</p>
        <div class="box_sub">
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" />
            </div>
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />
            </div>
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
            </div>
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg" />
            </div>
            <div class="one"></div>
        </div>

        <!-- CI CD -->
        <div class="box_sub">
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
            </div>
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg" />
            </div>
            <div class="one">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />
            </div>
            <div class="one mangodbicon">
                <img src="public/assets/icons/mongodb.svg" alt="" />
            </div>
            <div class="one">

            </div>
        </div>
        <!-- DevOps -->
        <div class="box_sub">
            <div class="one">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain-wordmark.svg" />
            </div>
            <div class="one">

                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/githubcodespaces/githubcodespaces-original.svg" />

            </div>
            <div class="one">

                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" />

            </div>
            <div class="one mangodbicon">

                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />

            </div>
            <div class="one">

            </div>
        </div>
    </div>

    <style>
        .astroicon {
            width: 25px !important;
        }

        i {
            position: relative;
            text-align: center;
            font-size: 260%;
        }

        .title-skills {
            text-align: center;
            position: relative;
            top: 5%;
            font-weight: 700;
        }

        .box_sub {
            display: flex;
            line-height: 0px;
        }

        .one {
            flex: 1 1 auto;
            padding: 10px;
        }

        .box {
            border-radius: 0.75rem;
            padding: 1.5rem;
            background-color: var(--gray-999_40);
            width: 100%;
        }

        .skills {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .skills h2 {
            font-size: var(--text-lg);
        }

        .skills p {
            color: var(--gray-400);
        }

        .github {
            background-color: rgb(241, 238, 238);
            /* color: white; */
            border-radius: 15%;
        }

        @media (min-width: 50em) {
            .box {
                border-radius: 1.5rem;
                padding: 2.5rem;
            }

            .skills {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 5rem;
            }

            .skills h2 {
                font-size: var(--text-2xl);
            }

            .mangodbicon {
                position: relative;
                max-width: 20%;
            }

            .astroicon {
                width: 25px !important;
            }

            i {
                position: relative;
                text-align: center;
                font-size: 320%;
            }

        }

        .mangodbicon {
            position: relative;
            max-width: 20%;
        }
    </style>
</section>
